body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 16px;
}

svg {
  border: 1px solid grey;
  box-sizing: border-box;
  flex-grow: 1;
  margin-bottom: 16px;
  width: 100%;
}

p {
  margin: 10px 0 16px 0;
}

button,
label,
#function {
  display: inline-block;
  line-height: 18px;
  margin: 6px 0.5em 0 0;
  white-space: nowrap;
}

#pixel-size {
  width: 2em;
}

.inside {
  stroke: LightBlue;
}

.perimeter {
  stroke: royalblue;
}

.outside {
  stroke: #F0F0F0;
}

.c1 {
  stroke: #000;
}

.c2 {
  stroke: #333;
}

.c3 {
  stroke: #666;
}

.c4 {
  stroke: #999;
}

.c5 {
  stroke: #BBB;
}

.c6 {
  stroke: #FFF;
}
